/*
Author: Anmol Nandha - Five Quarter Designs
Author URI: http://fivequarterdesigns.com/
Description: Fanchise Futures brings consultancy and coaching to individuals and businesses looking to move into the fanchise business.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: fanchisefutures
*/

/* COLOUR */

$firstblue: #00C1DE;
$lightblue: #E0F8FB;
$grey: #4A4A4A;

/* FONTS */

@mixin mreaves() {
	font-family: "mr-eaves-sans", sans-serif;
	font-style: normal;
	font-weight: 200;
}

@mixin roboto() {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 100;
}

/* HEADER */

header {
	img {
		margin: auto;
		width: 290px;
	}
}

/* CONTENT */

.content {
	@include mreaves();
	h1 {
		font-size: 38px;
		color: $firstblue;
	}
	h2 {
		font-size: 28px;
		color: $grey;
	}
}

/* ENQUIRY FORM */

.enquiry {
	margin-top: 50px;
	background-color: $lightblue;
	padding: 30px 0;
	@include mreaves();
	.enquiry-form {
		width: 45%;
		.form-control {
			border-radius: 0;
			border: 0;
			font-size: 22px;
		}
		.custom-dropdown {
			position: relative;
			display: block;
			vertical-align: middle;
			&::before {
				content: "";
				position: absolute;
				pointer-events: none;
				width: 2em;
				right: 0;
				top: 0;
				bottom: 0;
				border-radius: 0 3px 3px 0;
			}
			&::after {
				content: "";
				position: absolute;
				pointer-events: none;
				content: "\25BC";
				height: 1em;
				font-size: .625em;
				line-height: 1;
				right: 1.2em;
				top: 50%;
				margin-top: -.5em;
			}
			select {
				color: $grey;
				font-size: 22px;
				padding: 0;
				padding-left: 13px;
				border: 0;
				margin: 0;
				border-radius: 0;
				text-indent: 0.01px;
				text-overflow: '';
				-webkit-appearance: button;
			}
		}
		.error {
			color: red;
		}
		.btn-ff {
			background-color: $firstblue;
			border-radius:0;
			color: white;
			&:hover {
				background-color: darken($firstblue, 5%);
			}
		}
	}
}


/* FOOTER */

footer {
	padding: 30px 0;
	@include roboto();
	font-size: 22px;
	color: $grey;
	p {
		a {
			color: $grey;
			text-decoration: none;
			&:hover {
				color: $grey;
				text-decoration: none;
			}
		}
	}
}
